     <% if @salbc.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @salbc.errors.each do |field, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= simple_form_for @salbc do |f| %>
  <% unless params[:all] %>

    <%= f.hidden_field :current_step, value: @salbc.current_step %>
    <%=f.input :election_year_id ,  as: :hidden, :input_html => { :value => session[:election_year]} %>
    <%=f.input :county ,  as: :hidden, :input_html => { :value => session[:county]} %>

    <%= render "salbcs/steps/page#{@salbc.current_step + 1}", f: f %>


  <div class="form-actions">
      <%= f.submit "Back", name: "back_button" unless @salbc.first_step? %>
      <%= f.submit  "Save and Exit", name: "save_and_exit" unless @salbc.last_step? %>
      <% @last = "Submit " +    @category_name + " Costs for " + @election_year[:year].to_s %>
      <% if @salbc.last_step? %>
      <%=  f.submit @last %>
      <% else %>
      <%= f.submit "Next" %>
      <%end %>
    </div>

  <% else %>

    <%# all the fields on one page... %>
    <%= hidden_field_tag :all, 1 %>
    <% Salbcs.total_steps.times do |step| %>
      <%= render "salbcs/steps/page#{step + 1}", f: f %>
    <% end %>
    <%= f.submit %>

  <% end %>

<% end %>
.
