     <% if @salvbm.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @salvbm.errors.each do |field, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= simple_form_for @salvbm do |f| %>
  <% unless params[:all] %>

    <%= f.hidden_field :current_step, value: @salvbm.current_step %>
    <%=f.input :election_year_id ,  as: :hidden, :input_html => { :value => session[:election_year]} %>
    <%=f.input :county ,  as: :hidden, :input_html => { :value => session[:county]} %>

    <%= render "salvbms/steps/page#{@salvbm.current_step + 1}", f: f %>


  <div class="form-actions">
      <%= f.submit "Back", name: "back_button" unless @salvbm.first_step? %>
      <%= f.submit  "Save and Exit", name: "save_and_exit" unless @salvbm.last_step? %>
      <% @last = "Submit " +    @category_name + " Costs for " + @election_year[:year].to_s %>
      <% if @salvbm.last_step? %>
      <%=  f.submit @last %>
      <% else %>
      <%= f.submit "Next" %>
      <%end %>
    </div>

  <% else %>

    <%# all the fields on one page... %>
    <%= hidden_field_tag :all, 1 %>
    <% Salvbms.total_steps.times do |step| %>
      <%= render "salvbms/steps/page#{step + 1}", f: f %>
    <% end %>
    <%= f.submit %>

  <% end %>

<% end %>
.
